.board {
  display: grid;
  grid-template-columns: repeat(var(--size), 100px);
  grid-template-rows: repeat(var(--size), 100px);
  gap: 5px;
  margin: 5px;
  overflow: auto;
}



.cell {
  flex: 1;
  min-width: 10px;
}

.board.small-cells .cell {
  flex-basis: 50px;
}

.board.medium-cells .cell {
  flex-basis: 75px;
}

.board.large-cells .cell {
  flex-basis: 100px;
}