* {
  box-sizing: border-box;
}

#root, body {
  margin: 0;
  background-color: #161720;
  font-family: "Fredoka", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  margin-top: 70px;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning-message {
  position: fixed;
  top: 0;
  width: 350px;
  border-radius: 5px;
  padding: 10px;
  background-color: #d26464;
  color: #000000;
  z-index: 1000;
}

.right-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: #ff3b3bd3;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 80%;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.game-over-modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.close-modal {
  background: none;
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.game-over-message {
  font-size: 24px;
  margin-top: 20px;
}

.game-over-modal img {
  max-width: 100%;
  height: auto;
}

.game-over-image {
  width: 300px;
  height: auto;
}

@media screen and (max-width: 600px) {
  /* Styles spécifiques pour les écrans de petite taille (<600px) */
  .warning-message {
    top: 70px;
    width: 80%;
  }
  
  .game-container {
    margin-top: 10px;
  }
  
  .left-section, .right-section {
    width: auto;
  }
}
